<!DOCTYPE html>
<html leng="en">
  <head>
    <meta charset="UTF-8">  
    <title>EN Chessboard</title>
    <link rel="icon" href="../public/images/logo4.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/styles.css">
  </head>
<body>

  <div class="sidebar">
    <header class="logo-header">
      <img src="../public/images/logo4.png" alt="logo" class="logo">
      <h1>EN</h1>
    </header>

    <a href="#">Player vs EN</a>
    <a href="#">Player vs Player</a>
    <a href="#">Games</a>
    <a href="#">Stockfish</a>
  </div>

  <div class="chessContainer" id="chessContainer">
    <div class="chessboard" id="chessboard"></div>
    <br>
    <div class="additionalInfo" id="additionalInfo" hidden></div>
  </div>
  <script src="../public/js/chess_script.js"></script>
</body>
</html>